

<div style="text-align: center;">
    <img id="SlideShow" [src]="imgSrc" height="300px" ><br>
    <input style="margin: 20px;" type="button" value="Next Image"     class="button" (click)="NextImg()">
    <input style="margin: 20px;" type="button" value="Prevoius Image" class="button" (click)="PrevImg()">
    <input style="margin: 20px;" type="button" value="Play SlideShow" class="button" (click)="SlideShow()">
    <input style="margin: 20px;" type="button" value="Stop SlideShow" class="button" (click)="StopSlideShow()">
</div> 
