ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: #00054b;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}


li a {
    display: block;
    /* color: rgb(186, 187, 204);   */
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: #010ca0;
    border-radius: 20px;
    transition: 0.2s;
    color:#CFF4FC;
}


.active{
    color:#CFF4FC;
}